.arriba{
    display: flex;
    font-size: 16px;
    margin: auto;
    justify-content: center;
    margin-right: 150px;
    margin-bottom: 20px;

}
.abajo{
    margin: auto;
    width: 30%;
    max-width: 500px;
    border-radius: 8px;
    border :1px solid $secondary-text-color;
}
.inputs{
    border :1px solid $main-color;
    font-size: 15px;
    border-radius: 8px;
    display: block;
    margin: auto;
    padding: 15px;
    padding-right: 100px;
    margin-top:20px;

}

#select{
    margin: auto;
    background:$main-color;
    color: #fff ;
    font-size: 15px;
    border-radius: 8px;
    padding: 8px;
    margin-top: 20px;
    margin-left: 50px;

}
.boton{
    border-radius: 20px;
    margin: auto;
    font-size: 15px;
    margin-top:40px;
    margin-bottom: 40px;
    padding: 10px;
    background:$main-color;
    color: #fff;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 60%; 
}