.container-footer {
    background: var(--sidebar-color);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.devsocket {
    color: var(--main-text-color-alt)
}