.container-sidebar {
    background: var(--sidebar-color);
    padding: 0 ;
    display: flex;
    grid-area: sidebar;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
}
.sidebar-link {
    display: inline-block;
    padding: 15px 0;
    width: 100%;
    color: var(--main-text-color-alt);
    &:hover{
        background: var(--sidebar-color-dark);
    }
}

.sidebar-list {
    width: 100%;
}
.sidebar-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    position: relative;
    top: 180px;
}

.sidebar-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 4rem;
    margin-top: 3rem;
}

.input-search {
    padding: 10px 20px;
    color: var(--main-text-color);
    width: 270px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}
.icon {
    position: absolute;
    left: 265px;
    color: var(--main-text-color);
    font-size: 18px;
}