.arriba{
  margin: auto;
  font-size: 20px;
}
.inputs{
    border :1px solid $main-color;
    font-size: 15px;
    border-radius: 8px;
    display: block;
    margin: auto;
    padding: 15px;
    padding-right: 100px;
    margin-top:20px;
}
.boton{
    border-radius: 20px;
    margin: auto;
    font-size: 15px;
    margin-top:40px;
    margin-bottom: 40px;
    padding: 10px;
    background:$main-color;
    color: #fff;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 60%; 
}