<div class="dashboard">
    {{> sidebar}}
    <div class="content">
        <div class="grid-container">
            <div class="grid-item">
                <div class="grid-box">
                    <p class="item">80</p>
                    <p class="title">Total de existencias</p>
                </div>
                <div class="grid-box">
                    <i class="fas fa-smile-beam emoji"></i>
                    <p class="item-product">Camisetas</p>
                    <p class="title">Producto mas vendido</p>
                </div>
                <div class="grid-box">
                    <p class="item">5</p>
                    <p class="title">Ventas del dia</p>
                </div>
            </div>
            <div class="grid-chart"></div>
        </div>
    </div>
</div>