<section class="arriba"> 
<img src="/img/favicon.png" width="30" height="30">
<h1>Registrar empleados</h1>
</section>

<section class="abajo">
<form action="">
    <input type="text" placeholder="Nombre" class="inputs">
    <input type="text" placeholder="Salario" class="inputs">
    <input type="text" placeholder="Inns" class="inputs">

    <select name="" id="select">
    <option value="">
        Tipo de usuario
    </option>
    <option value="">
         admin
    </option>
    <option value="">
        empleado
    </option>
    </select>
    
    <button class="boton">
    Registrar
    </button>
</form>

</section>