<div class="row">
    <div class="col-2">
        {{> sidebar}}
    </div>
        <div class="card container">
            <div class="card-header">
                <i class="fas fa-chart-area"></i>
                Producto mas vendido</div>
            <div class="card-body">
                <canvas id="myChart" height="100" ></canvas>    
            </div>
        </div>
    </div>
</div>