<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <img src="/img/background-image.svg" class="img-seccion" alt="background">
        </div>
    </div>
</div>



<div class="container mt-5">
    <h1 class="paragraph">¿Quieres iniciar tu negocio?</h1>
    <p class="description">Seccion de análisis del punto de equilibrio para emprendedores que deseen iniciar un pequeño negocio.</p>

    <form class="mt-5">
        <div class="form-row">
            <div class="form-group col-md-6">
            {{!-- <label for="inputEmail4">Costos Anuales</label> --}}
            <input type="email" class="form-control" id="inputEmail4" placeholder="Costos Anuales">
            </div>
            <div class="form-group col-md-6">
            {{!-- <label for="inputPassword4">Precio de venta</label> --}}
            <input type="password" class="form-control" id="inputPassword4" placeholder="Precio de venta">
            </div>
        </div>
        <div class="form-group">
            {{!-- <label for="inputAddress">Costos Variables</label> --}}
            <input type="text" class="form-control" id="inputAddress" placeholder="Costos variables">
        </div>
        <button type="submit" class="btn btn-success btn-block">Calcular</button>
        </form>
</div>