<div class="l-container">
    <div class="container-image">
        <img src="/img/background-image.svg" class="img-seccion" alt="background">
    </div>
</div>

<div class="container-cal">
    <h1 class="paragraph">¿Quieres iniciar tu negocio?</h1>
    <p class="description">Seccion de análisis del punto de equilibrio para emprendedores que deseen iniciar un pequeño negocio.</p>

    <form class="form-control">
        <div class="container-inputs">
            <div class="input-group">
                <input type="text" placeholder="Costos Anuales" class="input-item">
            </div>
            <div class="input-group">
                <input type="text" placeholder="Precio de Venta" class="input-item">
            </div>
            <div class="input-group-variables ">
                <input type="text" placeholder="Costos Variables" class="input-item">
            </div>
        </div>
        <input type="submit" value="ACEPTAR" class="input-submit">
    </form>
</div>