<div class="dashboard">
    {{> sidebar}}
    <div class="content">
        <div class="table" id="table">
            <table>
                <thead>
                    <tr> 
                        <th>Empresa</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Nombre del proveedor</th>
                        <th>Categoria</th>
                    </tr> 
                </thead>
                <tbody id="body">

                </tbody>
            </table>
        </div>
    </div>
</div>