<div class="row">
    <div class="col-4">
        {{> sidebar}}
    </div>
    <div class="col-8 mx-auto mt-5 text-center margin-auto"> 
        <div class="table" id="table">
            <table>
                <thead>
                    <tr> 
                        <th>Empresa</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Nombre del proveedor</th>
                        <th>Categoria</th>
                    </tr> 
                </thead>
                <tbody id="body">

                </tbody>
            </table>
        </div>
    </div>
</div>