<div class="container-login">
    <form action="" class="form-login"> 
        <img src="/img/favicon.png" alt="">
        <p class="paragraph-login">GrowingTools</p>
        <div class="input-group-login">
            <input type="text" placeholder="Codigo Trabajador" class="input-login">
        </div>
        <div class="input-group-login">
            <input type="text" placeholder="Contraseñia" class="input-login">
        </div>
        <input type="submit" value="Aceptar" class="input-login-submit">
    </form>
</div>