<section class="arriba">
    <img src="/img/favicon.png" width="30" height="30">
    <h1>Ventas</h1>
</section>
    <section class="abajo">
    <form action="">
        <input type="text" placeholder="Nombre del cliente" class="inputs">
        <input type="text" placeholder="Producto" class="inputs">
        <input type="text" placeholder="Unidades" class="inputs">
        <input type="text" placeholder="Nombre del vendedor" class="inputs">
        <button class="boton">Facturar</button>
    </form>
</section>
