<div class="modal-overlay">
    <div class="modal">
        <p class="paragraph-modal">Las ventas ha lograr para llegar al punto de equilibrio en el cual tu ganacias y tus perdidas son iguales a 0 tienen que ser:</p>
        <p class="value">90</p>
    </div>
</div>