<nav class="nav">
    <a href="/index" class="nav-logo">
        <img src="/img/favicon.png" width="30" height="30" class="" alt="logo">
    </a>
    <ul class="nav-list">
        <li class="nav-item">
            <a href="/login" class="nav-link">Iniciar Sesion</a>
        </li>
    </ul>
</nav>
    