<div class="container-sidebar">
    <ul class="sidebar-list">
        <li class="sidebar-item">
            <a href="/empleados" class="sidebar-link">Empleados</a>
        </li>
         <li class="sidebar-item">
            <a href="/inventario" class="sidebar-link">Inventario</a>
        </li>
         <li class="sidebar-item">
            <a href="/grafico" class="sidebar-link">Grafico</a>
        </li>
    </ul>
</div>