<div class="container-sidebar">
    <ul class="sidebar-list">
        <li class="sidebar-item">
            <a href="/empleados" class="sidebar-link">Empleados</a>
        </li>
         <li class="sidebar-item">
            <a href="#" class="sidebar-link">Inventario</a>
        </li>
         <li class="sidebar-item">
            <a href="#" class="sidebar-link">Grafico</a>
        </li>
         <li class="sidebar-item">
            <a href="#" class="sidebar-link">Cliente</a>
        </li>
         <li class="sidebar-item">
            <a href="#" class="sidebar-link">Proveedores</a>
        </li>
         <li class="sidebar-item">
            <a href="#" class="sidebar-link">Informes</a>
        </li>
         <li class="sidebar-item">
            <a href="#" class="sidebar-link">Estado de resultado</a>
        </li>
         <li class="sidebar-item">
            <a href="#" class="sidebar-link">Configuracion</a>
        </li>
    </ul>
</div>